body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}


header {
    background-color: #1f2937;
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    padding: 20px 200px;
    
    
}

.topheader {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    padding: 20px;
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.bottomheader {
    padding: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.second-text {
    color: #e5e7eb;
    font-size: 18px;
    
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 25px;
}

.teabag {
    height: 300px;
    width: auto;
}

div.body {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 0%;
    align-items: center;
    
}

.photos {
    padding: 60px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.content {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    
}


.caption {
    text-align: center;
    padding: 10px 20px;
    display: block;

}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light-italic;
    color: #1f2937;
    padding: 100px;
    margin: 50px 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.click-here {
    border-radius: 20px;
    background-color: #3882f6;
    color: white;
    padding: 30px 20px;
    margin: 100px;
    width: 550px;
    max-width: 100%;
    display: flex;
    flex: 1 0 0%;
    align-items: center;
    justify-content: space-between;
    
}

.nest {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}
